In [1]:
# Import the dependencies. 
import pandas as pd
import gmaps
import requests
# Import the API key. 
from config import g_key

In [2]:
# Store the CSV you saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2022-03-10 16:13:45,64.3833,-173.3000,10.83,55,0,15.46
1,1,Hilo,US,2022-03-10 16:09:01,19.7297,-155.0900,71.62,84,40,5.75
2,2,Salalah,OM,2022-03-10 16:13:46,17.0151,54.0924,80.69,54,0,2.30
3,3,Los Llanos De Aridane,ES,2022-03-10 16:13:46,28.6585,-17.9182,64.15,75,20,5.75
4,4,Puerto Ayora,EC,2022-03-10 16:13:46,-0.7393,-90.3518,84.16,84,52,4.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key. 
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs. 
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values. 
max_temp = city_data_df["Max Temp"]
# an array of length equal to the location's array length. 
# 3. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations. 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300,
                                point_radius=4)
# 5. Add the heatmap layer. 
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity.  
locations = city_data_df[["Lat", "Lng"]] 
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[["Lat", "Lng"]] 
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]] 
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300,
                                point_radius=4)
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum tempeature value. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria. 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Salalah,OM,2022-03-10 16:13:46,17.0151,54.0924,80.69,54,0,2.30
4,4,Puerto Ayora,EC,2022-03-10 16:13:46,-0.7393,-90.3518,84.16,84,52,4.00
9,9,Luderitz,NaN,2022-03-10 16:13:48,-26.6481,15.1594,79.05,58,10,11.50
14,14,Butaritari,KI,2022-03-10 16:13:50,3.0707,172.7902,80.62,80,99,13.71
20,20,Nabire,ID,2022-03-10 16:13:52,-3.3667,135.4833,76.80,91,100,3.06
21,21,Lingsugur,IN,2022-03-10 16:13:52,16.1667,76.5167,82.38,36,46,9.24
23,23,Itarema,BR,2022-03-10 16:12:29,-2.9248,-39.9167,85.64,64,97,13.09
24,24,Cururupu,BR,2022-03-10 16:10:57,-1.8283,-44.8683,83.70,74,100,4.03
26,26,Rikitea,PF,2022-03-10 16:13:54,-23.1203,-134.9692,78.42,69,79,6.87
27,27,Cape Town,ZA,2022-03-10 16:13:15,-33.9258,18.4232,77.11,48,0,15.59

In [11]:
preferred_cities_df.count()

City_ID       185
City          185
Country       183
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

C:\Users\User 1\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            City Country  Max Temp      Lat       Lng Hotel Name
2        Salalah      OM     80.69  17.0151   54.0924
4   Puerto Ayora      EC     84.16  -0.7393  -90.3518
9       Luderitz     NaN     79.05 -26.6481   15.1594
14    Butaritari      KI     80.62   3.0707  172.7902
20        Nabire      ID     76.80  -3.3667  135.4833
21     Lingsugur      IN     82.38  16.1667   76.5167
23       Itarema      BR     85.64  -2.9248  -39.9167
24      Cururupu      BR     83.70  -1.8283  -44.8683
26       Rikitea      PF     78.42 -23.1203 -134.9692
27     Cape Town      ZA     77.11 -33.9258   18.4232

In [16]:
# Set parameters to search for a hotel. 
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [19]:
# Iterate through the DataFrame. 
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude. 
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary. 
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Salalah,OM,80.69,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
4,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Luderitz,NaN,79.05,-26.6481,15.1594,LÜDERITZ NEST HOTEL
14,Butaritari,KI,80.62,3.0707,172.7902,Isles Sunset Lodge
20,Nabire,ID,76.80,-3.3667,135.4833,Hotel Nusantara Nabire
21,Lingsugur,IN,82.38,16.1667,76.5167,Atithi Residency
23,Itarema,BR,85.64,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
24,Cururupu,BR,83.70,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
26,Rikitea,PF,78.42,-23.1203,-134.9692,People ThankYou
27,Cape Town,ZA,77.11,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row. 
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]